<% provide(:title, "About") %>


<h1><%= yield(:title) %></h1>
    <p>
    Smartly ballast Cat o'nine tails broadside Blimey.
    Piracy Jack Tar Arr Admiral of the Black plunder.
    Grapple Jack Tar flogging scuttle overhaul.
    Parrel spyglass Letter of Marque fathom brigantine.
    Rum schooner warp Jack Tar plunder.
    Topgallant smartly crack Jennys tea cup topsail wench.
    </p>
