<% provide(:title, "Help")%>

    <p>
      Pieces of Eight draught lass line hogshead.
      Gally lanyard Cat o'nine tails boom Yellow Jack.
      Knave red ensign Brethren of the Coast mizzenmast belay.
      Plunder cable provost loot handsomely. Lugger Yellow Jack
      coxswain ye yawl. Hempen halter piracy to go on account stern
       topgallant.

    </p>
  
