

<h1><%= yield(:title) %></h1>
    <p>
    Quarterdeck dance the hempen jig fire in the hole spirits
    trysail. Ho measured fer yer chains poop deck run a rig gun.
    Holystone gibbet Arr tender brig. Nelsons folly lookout spanker
    crack Jennys tea cup squiffy. Gangplank scuppers bucko come
    about crack Jennys tea cup.
    Loot hogshead doubloon list wherry.
    </p>
